
{{!-- Item: / Purchased: / Expires:  --}}

<div class="itemList">

<div class="anotherBox">

<h2 class="itemName">{{name}}</h2>


<div class="itemBox">
<h3 class="purchaseDate">{{dateOfPurchase}} {{expiryDate}} </h3>
</div>
</div>
<a href="/updateItem/{{_id}}"><button class="updateButton"><img class="pencil" src="/images/pencilClean.png"></button></a>
<a href="/deleteItem/{{_id}}"><button class="deleteButton"><img class="trashcan" src="/images/trashcan.png"></button></a>
</div>

